@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* background: var(--background); */
  background: linear-gradient(135deg, #e5fdf7, #9ee9dc, #78d3ad);
  color: var(--foreground);
  font-family: Helvetica, sans-serif;
}

@layer utilities {
  .glass-component {
    @apply bg-white/30 backdrop-blur-xl shadow-2xl/20 rounded-3xl border-1 border-white/40  ;
  }
}